* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.app {
  overflow: clip;
  background-color: #f8f8f8;

  

}

h2 {
  color: #0a192f;
}

section {
  justify-content: flex-start;
  margin-left: 300px;
}

.hiddenLeft{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hiddenRight{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s ease;

}
.hiddenDown{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s ease;

}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease;
}

.showY {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s ease;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (max-width: 800px) {
  section{
    justify-content: center;
    margin-left: 0px;
  }
}

